<div id="signInBackground" [style.background-image]="'url(assets/authbackground.png)'">
  <div class="container mt-5 " style="height: 80vh;">
    <div id="main" class="row align-top">
      <div class="col-12 col-md-6 align-self-center card">
        <div class="text-center">
          <h2 id="codeOneH2">Code #1</h2>
        </div>
        <textarea [(ngModel)]="codes[0]" class="form-control" rows="5" placeholder="System.out.print(&quot;test&quot;)" ></textarea>
        <div class="text-center">
          <small [innerText]="porcentageOne"></small>
        </div>
      </div>
      <div class="col-12 col-md-6 align-self-center align-top card">
        <div class="text-center ">
          <h2>Code #2</h2>
        </div>
        <textarea [(ngModel)]="codes[1]" class="form-control" rows="5" placeholder="System.out.print(&quot;test&quot;)"></textarea>
        <div class="text-center">
          <small [innerText]="porcentageTwo"></small>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div>
        <button (click)="getTimes()" class="btn btn-primary mt-5 mt-lg-0">Run</button>
      </div>
    </div>
  </div>
</div>
